<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Courses - PAE</title>
</head>

<body>
    <header>
        <aside><img th:src="@{/img/logo.jpg}" alt="logo"></aside>
        <h1>Programme annuel des étudiants</h1>
        <h3>HE2B-ESI / WEBG5 / MCD / 2019 - 2020</h3>
        <div style="clear: both;" />
        <nav>
            <a href="/">Accueil</a>
            <a href="/courses">Cours</a>
            <a href="/students">Etudiants</a>
        </nav>
    </header>

    <main layout:fragment="content">
        Ce contenu sera remplacé par le vrai.
    </main>
</body>

</html>