.maClasse {
    background-color: lightsteelblue;
}

table {
    border: 1px solid #000;
}

th {
    width: 200px;
    padding: 5px;
    text-align: left;
    color: white;
    background-color: rgb(45, 143, 45);
}

.carre {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 10px auto;
}

.cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: purple;
    margin: 10px auto;
}

.hover {
    background-color: green;
}