* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #002128;
  background: #eff6fc;
}

a {
  text-decoration: none !important;
  color: #1e90ff;
  transition: color 0.2s;
}
a:hover {
  color: #0077ea;
}
a:after {
  color: #005db7;
}

button {
  margin-top: 1em;
  padding: 1em;
  background: #90e3f1;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
}
button:hover {
  background: #1fc6e3;
}
button:active {
  background: #17a0b7;
}

.alert {
  width: 80%;
  text-align: center;
  margin: 1em auto;
  padding: 1em;
}
.alert p {
  margin: 0;
}

.alert.error {
  background: #ffbaba;
  border: 1px solid #f78383;
}

header {
  background: #078499;
  text-align: center;
  color: white;
  padding: 1em;
}
header a {
  color: white !important;
}
header button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  background: #d8f7fd;
}

@media only screen and (max-width: 825px) {
  header button {
    position: relative;
    min-width: 100px;
    width: 30%;
  }

  main {
    width: 100%;
  }
}
