form {
  text-align: center;
}
form label {
  cursor: pointer;
}
form input[type=text] {
  padding: 5px;
  border: 2px solid #ccc;
  width: 200px;
  border-radius: 5px;
  margin-top: 0.2em;
}
form input[type=text]:focus {
  border-color: #333;
}
form button {
  min-width: 300px;
}
